.sw-result-item-details {
  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  &__title-text {
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
  }

  &__category-logo {
    max-width: 32px;
    max-height: 32px;
  }

  &__lightsaber {
    img {
      max-width: 100px;
    }
  }
}
